*{
    margin: 0px;
    padding: 0px;
}

.menu, .title-modules{
    background-color: #3b5998 !important;
}

.content-modules{
    color: #ffffff;
}

body{
    padding-top: inherit!important;
    background-color: rgba(210, 210, 210, 0.19) !important;
    /*background-color: #EEE!important;*/


}

.tela_cadastro, .altera_cadastro_local_treino{
    margin-top: 50px;
}


.title_cadPessoa, .title_altera_local_treino{
    text-align: center;
    background: #3b5998;
    color: #fff;
}

.principal_tela_tabela{
    width: 1300px!important;

}

.title-qtd-pessoas{
    font-size: 25px;
    color: #000000;
}

.title-qtd-pessoas:hover{
    color: #000000;
}

.div-interna-qtd{
    margin-top: 20px;
}

#appearance-select{
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
    background-position: 218px center;  /*Posição da imagem do background*/
    width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:1px solid #ddd;

}

/*------------icons sidebar---------------------------------*/
.fa-desktop, .fa-group, .fa-envelope, .fa-graduation-cap, .fa-institution, .fa-user, .fa-sign-out, .fa-building-o{
    padding-right: 25px;
}

.btn-danger, .btn-primary,.btn-default, .btn-info{
    font-size: 23px;
}

.button-add-pessoa, .button-add-local-treino, .btn-default{
    float: right;
}

.div-btn-add{
    margin-bottom: 15px;
}

.btn-add{
    float: right;
    margin-right: 4%;
}
/*---------------------------------------------------*/

/*-------------tela admin-----------*/

.admin-menu-superior{
    background-color: #3b5998;
    height: 80px;
}

.admin-menu-superior h1, p{
    color: #fff;

}

.admin-menu-lateral{
    background-color: #333333!important;

}

.admin-cad-escola{
    /*margin-top: 100px;*/
    margin-top: 30px;
    background-color: #145998;
    height: 300px;
    margin-left: 20px;
    border: 1px;
    /*opacity: 5;*/
}
/*
.admin-cad-escola:hover{
    opacity: 0.6;
}
*/
.admin-title-escola{
    height: 150px;
    background-color: #3b5998;
}

.nome-escola{
    color: #ffffff;
    text-align: center!important;
}

.nome-escola:hover{
    color: #ffffff;
}

.li-externa-sidebar{
    padding: 9px;
}
/*-------------------------*/

/*--------------cadastros-------------*/
.div-fora{
    /*background-color: #4cae4c;*/
    height: 170px;
    margin-top: 40px;


}

.div-dentro{
    background-color: #36a2ff;
    width: 95%;
    height: 170px;
    margin: 0 auto;

}
/*-----------------------*/

/*-----------tela Op locais de treino-------------*/

.title_opLocalTreino{
    background: #3b5998;
    color: #fff;
}

/*login*/
/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cadastromodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.cadastromodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal, .cadastromodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit, .cadastromodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover, .cadastromodal-submit:hover{
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a, .cadastromodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

/*------------------Jumbotron------------*/
.msg-jumbotron{
    color: #000000;
}
/*---------------------------------------*/

/*-------------painel-----------------------*/
.painel_qtd{
    /*background-color: red;*/
    height: 180px;
    border-top: 2px solid #000;
}

.vlr_qtd{
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
    color: #000;
}

.form-painel-escola{
    border-top: 2px solid #000;
    margin-top: 10px;

}

.label-painel{
    margin-top: 10px;
}

.div-painel-table-escola{
    margin-top: 10px;
    border-top: 2px solid #000000;
}

.table-painel-escola{
    margin-top: 20px;
}

.tbody-painel-escola{
    background-color: #ffffff;
}

#tabelaSistema_filter{
    display: none!important;
}

/*---------------cadastro artes--------*/
.label-cad-tipoprograma{
    margin-left: 80px;
}

.form-select{
    padding: 10px;
    border-radius: 7px;
    margin-right: 20px;
    width: 20%;
}
.form-control{
    width: 60% !important;
}

/*-----------media query---*/
@media screen and (min-width: 1300px) {
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        width: 100%;
    }
}